@model IEnumerable<Product>
<!DOCTYPE html>
<html style="font-size: 16px;" lang="tr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Kategori Adı​">
    <meta name="description" content="">
    <title>Urunler</title>
    <link rel="stylesheet" href="~/css/Urunler.css" media="screen">
    <meta name="generator" content="Nicepage 5.19.3, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i">




    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Urunler">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body data-path-to-root="/" class="u-body u-overlap u-xl-mode" data-lang="tr">
    <section class="u-clearfix u-image u-section-1" id="sec-3bac" data-image-width="1280" data-image-height="960">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-center u-custom-font u-font-merriweather u-text u-text-body-alt-color u-text-default u-text-1">
                @ViewBag.CategoryName<span style="font-style: italic;"></span>
            </h2>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-e9b8">
        <div class="u-clearfix u-sheet u-sheet-1">
            <!--products--><!--products_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/products_options_json-->
            
            <div class="u-expanded-width u-products u-products-1" data-site-sorting-prop="created" data-site-sorting-order="desc" data-products-datasource="site" data-items-per-page="4" data-site-category="1" data-products-id="1">
                <div class="u-repeater u-repeater-1">
                    @foreach (var product in Model)
                    {
                 
                                <!--product_item-->
                                <div class="u-align-center u-container-style u-products-item u-repeater-item" data-product-id="6">
                                    <div class="u-container-layout u-similar-container u-container-layout-4 ">
                                        <!--product_image-->
                                        <span class="u-product-title-link" href="/products/orman-meyveli-krep.html">
                                            <img alt="" class="u-expanded-width u-image u-image-contain u-image-default u-product-control u-image-4" src=@product.Image>
                                        </span>
                                            <img src="/images/414330ad.svg" class="u-product-second-image"><!--/product_image--><!--product_title-->
                                        <h4 class="u-align-center u-product-control u-text u-text-7">
                                            <a class="u-product-title-link" href="/products/orman-meyveli-krep.html">@product.Name</a>
                                        </h4><!--/product_title-->
                                        <p class="u-text u-text-default u-text-8">
                                            @product.Description
                                        </p><!--product_button--><!--options_json--><!--{"clickType":"go-to-page","content":"View"}--><!--/options_json-->
                                        <a asp-action="Index" asp-controller="Inspect" asp-route-id=@product.Id class="u-border-2 u-border-grey-25 u-btn u-btn-rectangle u-button-style u-none u-product-control u-text-body-color u-btn-4" data-product-button-click-type="go-to-page"><!--product_button_content-->İncele<!--/product_button_content--></a><!--/product_button-->

                                    </div>
                                </div><!--/product_item--><!--product_item-->
                                <!--/product_item--><!--product_item-->
                                <!--/product_item--><!--product_item-->
                                <!--/product_item-->
                   
                

                        <!--/products-->
                    }
                </div>
            </div>



        </div>
    </section>

</body>
</html>