@model Product
<div class=" mt-5 row">
    <div class="col-4"></div>
    <div class="col-4">
        <form asp-controller="Admin" asp-action="AddProducts" method="post">
            <div class="mb-2">
                <label for="exampleInputEmail1" class="form-label">Ürün Adı:</label>
                <input asp-for="Name" type="text" class="form-control" aria-describedby="emailHelp">
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">Ürün Açıklaması:</label>
                <input asp-for="Description" type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">Ürün Resmi:</label>
                <input asp-for="Image" type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label"></label>
                <select asp-for="CategoryId" class="form-select" aria-label="Default select example">
                    <option selected>Kategoriler</option>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value=@category.Id>@category.Name</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-4"></div>

   
</div>