@model List<Category>
<div class="container">
    <table class="table table-striped ">
        <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">KATEGORİ ID</th>
                <th scope="col">KATEGORİ ADI</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @{
                int count = 0;
            }
            @foreach (var category in Model)
            {
                <tr class="text-center">
                    <th scope="row">@count</th>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td class="row">
                        <form class="col-6 text-end" asp-controller="Admin" asp-action="UpdateCategories" asp-route-id=@category.Id >
                            <button class="btn btn-success">Güncelle</button
                        </form>
                        <form class="col-6 text-start" asp-controller="Admin" asp-action="DeleteCategories" asp-route-id=@category.Id >
                            <button class="btn btn-danger">Sil</button
                        </form>
                    </td>
                </tr>

                count++;

            }


        </tbody>
    </table>
    <a asp-controller="Admin" asp-action="AddCategories" class="btn btn-primary">Ekle</a>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-danger">Geri</a>
</div>
